
body{
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: white;
	font-family: "Verdana", Geneva, sans-serif;
}

video{
	height: 100%;
	width: 100%;

	min-width: 100%;
	min-height: 100%;
}

ul{
	text-align: left;
}

nav{
	display: none;
}

#ContactTextSection
{
	padding-right: 20em;
}
#navUl{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}

.navli{
	float:left;
}

.navA{
	display:block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navA:hover{
	background-color: #111;
}

.textSectionGrayTop{
	position:relative;
	padding-right: 5em;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: #D3D3D3;
	margin-bottom:16em;
	margin-right: 15em;
	margin-left: 15em;
	margin-top: 16em;
}

.textSectionGray{

	position:relative;
	padding-right: 5em;
	
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: #D3D3D3;
	margin-bottom:1em;
	margin-right: 15em;
	margin-left: 15em;
}

.textSectionWhite{
	position: relative;
	background-color: #eff1f4;
	padding-right: 5em;
	
	text-align: center;
	overflow:hidden;
	z-index: 1;
	margin-top: 5em;
	margin-bottom:16em;
	margin-right: 15em;
	margin-left: 15em;
}

.videoRight {
	float:right;
	position:absolute;
	width: 40%;
	height: 100%;
	
} 
.videoRight iframe{
	position: static;
	width: 100%;
	height: 100%;
	border:none;
	left: 0; right: 0;
}


.videoLeft{
	float:left;
	position:absolute;
	width: 40%;
	height: 100%;
	

}
.videoLeft iframe{
	position:absolute;
	width:100%;
	height:100%;
	left:0; right: 0;
	border:none;
	
}


#contactForm{
	position:relative;
	float: left;
	padding-right: 1em;
	padding-left: 1em;
	padding-top:.5em;
	padding-bottom:.5em;
	margin-top:1em;
	margin-left: 4em;
	background-color: white;
	text-align: left;
	margin-bottom: 1em;
	font-size: 1.5em;
	border: 1px solid black;
	background-color:#909AA0;
	border-radius: 25px;
	}


.textLeft{
	position: relative;
	float:left;
	width: 35%;
	
	font-size: 1.2em;
	padding-bottom: 3em;


}
.textRight{
	float:right;
	width: 40%;
	margin-right: 5em;
	font-size: 1.2em;
	text-align: center;
	padding-bottom:3em;

}


#vidContainer{
	position:absolute;
	height:100%
	width: 100%;
	z-index: -100;
	overflow: hidden;
	
}

.videoPadding{

	position: relative;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.vidOverlay{
	color:white;
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	text-align: center;
}

#welcomeText{
	font-size: 7em;
	padding-top: 2.5em;
	text-shadow: 2px 2px #000;
	font-family: "Georgia";
}

#welcomeParagraph{
	font-size:3em;
	padding-top:1em;
	text-shadow: 2px 2px #000;
	/*font-family: "Futura";*/
}

.footer{
	margin-top:0;
	background-color:#909AA0;
}

.footer a{
}

.sectionHeader{
	font-family: "Georgia";
	text-align: center;
}










@media only screen and (max-width: 1200px){
	.textRight,.textSectionWhite,.textLeft,.textSectionGray{
		text-align: center;
		padding: 0;
		margin: 0 auto;
		width: 100%;
		font-size: 1em;
		float:none;
	}
	#welcomeParagraph{
		padding-top:1em;
		font-size:1em;
	}
	#welcomeText{
		display: disabled;
	}
	#contactForm{
		width:100%;
		margin:0 auto;
		overflow:hidden;
		text-align: center;
	}
	#contactMessage{
		position:static;
	}
	.videoLeft,.videoRight{
		float:none;
		margin: auto;
		width: 100%;
		padding-bottom: 50%;
	}
	body{
		padding:0;
	}
	nav{
	}

	
	
}