
body{
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: white;
	font-family: "Avenir";
}

video{
	height: 100%;
	width: 100%;
}

ul{
	text-align: left;
}

nav{
	display: none;
}

#navUl{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}

.navli{
	float:left;
}

.navA{
	display:block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navA:hover{
	background-color: #111;
}


.textSectionGray{
	position:relative;
	padding-right: 5em;
	padding-left: 5em;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: #D3D3D3;
}

.textSectionWhite{
	position: relative;
	background-color: white;
	padding-right: 5em;
	padding-left: 5em;
	text-align: center;
	overflow:hidden;
	z-index: 1;
}

.videoRight {
	float:right;
	position:relative;
	width: 40%;
	height: 0;
	padding-bottom: 20%;
} 
.videoRight iframe{
	position:absolute;
	width: 100%;
	height: 100%;
	left:0; top:0;
	border:none;
}


.videoLeft{
	float:left;
	position:relative;
	width: 40%;
	height: 0;
	padding-bottom: 20%;
}
.videoLeft iframe{
	position:absolute;
	width:100%;
	height:100%;
	left:0; right: 0;
	border:none;
	
}


#contactForm{
	position:relative;
	float: right;
	padding-right: 1em;
	padding-left: 1em;
	padding-top:.5em;
	padding-bottom:.5em;
	margin-top:1em;
	background-color: white;
	text-align: left;
	margin-bottom: 5em;
	font-size: 1.5em;
	border: 1px solid black;
	background-color:#909AA0;
	}


.textLeft{
	position: relative;
	float:left;
	width: 35%;
	margin-left: 5em;
	font-size: 1.3em;
}
.textRight{
	float:right;
	width: 40%;
	margin-right: 5em;
	font-size: 1.3em;
}


#vidContainer{
	position:relative;
	height:100%
	width: 100%;
	z-index: -100;
}

.videoPadding{
	position: relative;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.vidOverlay{
	color:white;
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	text-align: center;
	

	
}
#welcomeText{
	font-size: 7em;
	padding-top: 2.5em;
	text-shadow: 2px 2px #000;
}
#welcomeParagraph{
	font-size:3em;
	padding-top:1em;
	text-shadow: 2px 2px #000;
}

#contactMessage{


}

.footer{
	background-color:#909AA0;
}
.footer a{
}










@media only screen and (max-width: 1200px){
	.textRight,.textSectionWhite,.textLeft,.textSectionGray{
		text-align: center;
		padding: 0;
		margin: 0 auto;
		width: 100%;
		font-size: 1em;
		float:none;
	}
	#welcomeParagraph{
		padding-top:1em;
		font-size:1em;
	}
	#welcomeText{
		font-size:1em;
		padding-top:4em;
	}
	#contactForm{
		width:100%;
		margin:0 auto;
		overflow:hidden;
		text-align: center;
	}
	#contactMessage{
		position:static;
	}
	.videoLeft,.videoRight{
		float:none;
		margin: auto;
		width: 100%;
		padding-bottom: 50%;
	}
	body{
		padding:0;
	}
	nav{
	}

	
	
}