
body{
	text-align: center;
	background-color: #D3D3D3;
}

video{
	height: 100%;
	width: 100%;
}

ul{
	text-align: left;
}

nav{
	display: none;
}

#navUl{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}

#navli{
	float:left;
}

#navA{
	display:block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navA:hover{
	background-color: #111;
}


#textSectionGray{
	background-color:#D3D3D3;
	padding-right: 5em;
	padding-left: 5em;
	overflow:hidden;
	text-align: center;
}

#textSectionWhite{
	background-color: white;
	padding-right: 5em;
	padding-left: 5em;
	overflow: hidden;
	text-align: center;
}

#videoRight {
	padding-top: 1em;
	padding-left: 2em;
	float:right;
	vertical-align: middle;
}


#videoLeft{
	padding-top: 1em;
	padding-right: 2em;
	float: left;
}


#contactForm{
	padding-right: 5em;
	padding-left: 5em;
	background-color: white;
	text-align: left;
	margin-bottom: 5em;
	font-size: 1.5em;
	}


#textLeft{
	position:relative;
	width: 40%;
	margin-left: 10em;
	font-size: 1.5em;
}
#textRight{
	float:right;
	width: 40%;
	margin-right: 10em;
	font-size: 1.5em;
}

#vidContainer{
	position:relative;
	height:70%;
	width: 100%;
}












@media screen and (max-width: 1024px){
	#textRight,#textSectionWhite,#textLeft,#textSectionGray,#contactForm{
		text-align: center;
		padding: 0;
		margin: 0em;
		width: 100%;
		font-size: 1em;
	}
	body{
		padding:0;
	}
	nav{
		display: block;
	}
	
	
}